
        body{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            background: url(add.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            margin: 0px;
            padding: 0px;
        }

        /*.nav-bar{*/
        /*    background-color: darkblue;*/
        /*    text-align: center;*/
        /*    color: white;*/
        /*    width: 100%;*/
        /*    padding: 20px;*/
        /*    font-size: 2rem;*/
        /*    font-weight: 600;*/
        /*}*/
        
        
        h1{
            text-align:center;
            margin:0 auto;
            margin-bottom: 20px;
            color: rgb(4, 209, 124);
            text-shadow: black 2px 3px 5px;
        }
        
        .form-container{
            text-align: center;
        
        }
        
        input{
            width: 300px;
            height: 30px;
            margin: 10px;
            border-radius: 8px;
            border-style: none;
            padding: 10px;
            box-shadow: 0.2px 0.2px 5px;
        }
        
        select{
            width: 320px;
            height: 50px;
            margin: 10px;
            border-radius: 8px;
            border-style: none;
            padding: 10px;
            box-shadow: 0.2px 0.2px 5px;
        }
        
        #addbtn{
            background-color: rgb(4, 209, 124);
            width: 100px;
            height: 40px;
            border-radius: 25px;
            border-style: none;
            margin-bottom: 50px;
            font-weight: 700;
        
        }

        .logo{
          text-align: center;
          padding: 40px;
        }

        img{
          width:20%;
          }
          

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.headerLink{
    background: #000;
    background-color: rgb(4, 209, 124);
    padding: 10px;
    padding-left:70%;
}

ul li{
    list-style-type:none;
    display:inline;
    padding-left:10px;
    padding-right:10px;
}

button, .dlt-btn{
    background-color: rgb(4, 209, 124);
    width: 100px;
    height: 40px;
    border-radius: 25px;
    border-style: none;
    margin-bottom: 50px;
    font-weight: 700;
}


/*added for placeholder*/

input[type=date] {
  text-align: right;
}

input[type="date"]:before {
  color: black;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}


input[type="date"]:before {
  color: black;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}
input[type="date"]:focus:before {
  content: '' !important;
}

textarea{
    width: 650px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
}









 @media only screen and (max-width: 600px) {

    img{
    width: 70%;
    }
    
    .headerLink{
        padding-left: 20%;
    }
    
    textarea{
    width: 310px;
    height: 400px;
    padding: 5px;
    }
}
        
        
        